{% extends 'base_content.html' %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-12">
        <h1>Welcome to your dashboard {{ user.username }}</h1>
  </div> 
</div>

    <div class="row">
      <head>
        <link rel="stylesheet" type="text/css" href="{% static 'student_dashboard.css' %}">
    </head>

    <div class="dashboard">  
        <!-- the profile info-->
        {% include 'partials/profile_info.html' %}
        
        <div class="schedule-section">
            {% include 'partials/week_schedule.html' %}
        </div>
    </div>
  </div>
</div>
{% endblock %}
