/* navbar.css */

/* Navbar Background */
.navbar {
    background-color: rgba(156, 17, 17); 
}

/* Navbar Brand Styling */
.navbar-brand {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.navbar-brand img {
    max-height: 60px; 
    width: auto; 
    filter: brightness(0) invert(1); 
    transition: transform 0.3s ease; 
    margin-right: 20px;
}

/* Hover effect for the logo */
.navbar-brand img:hover {
    transform: scale(1.05); 
}

/* Button Styling for Navbar Toggler */
.navbar-toggler {
    border-color: transparent; 
}

/* Navbar Toggler Icon Styling */
.navbar-toggler-icon {
    background-color: transparent;
}

.offcanvas-header {
    background-color: rgb(156, 17, 17); 
    color: white; 
}

/* Offcanvas Body */
.offcanvas-body {
    background-color: #f8f9fa;
}

/* List Group Items Styling */
.list-group-item {
    font-size: 1rem;
}

/* Specific Text for Links */
.text-danger {
    color: red !important; 
}

.text-decoration-none {
    text-decoration: none;
}

.list-group-item-action {
    transition: background-color 0.3s ease;
}

/* Hover effect for menu items */
.list-group-item:hover {
    background-color: rgba(156, 17, 17, 0.1); /* Slight hover effect on list items */
}

/* Active state for menu items */
.list-group-item.active {
    background-color: rgb(156, 17, 17); 
    color: white;
}