{% extends 'dashboard.html' %}

{% block dashboard_content %}
<div class="row">
    <div class="profile-info">
        <h2>Profile Information</h2>
        <p><strong>Full name:</strong> {{ user.full_name }} </p>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <img src="{{ user.gravatar }}" alt="Profile Picture" class="gravatar">
    </div>
    <div class="col-sm-12 col-md-8">
        {% include 'partials/week_schedule.html' %}
    </div>
    <div class="col-sm-12 col-md-2">
        <a href="{% url 'lesson_request' %}" class="btn btn-primary">Create a Lesson Request</a>
        <br><br>
        <a href="{% url 'view_lesson_request' %}" class="btn btn-primary">View Submitted Requests</a>
    </div>
</div>
{% endblock %}