{% load static %}
<nav class="navbar navbar-dark mb-3" style="background-color: rgba(156, 17, 17);">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="{% url 'dashboard' %}">
      <img src="{% static 'images/logo.png' %}" alt="Logo" style="max-height: 60px; width: auto; filter: brightness(0) invert(1); transition: transform 0.3s ease;">
    </a>

    {% if user.is_authenticated %}
      <!-- button that will trigger the off-canvas menu only if logged in -->
      <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#userAccountCanvas" aria-controls="userAccountCanvas" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- including  the user-specific menu -->
      {% include 'partials/menu.html' %}
    {% endif %}
  </div>
</nav>

