{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'week_schedule.css' %}">
</head>

<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Weekly Schedule</h4>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Time of Day</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr> 
          <td>Morning</td>
          {% for days, meetings in meetings_sorted.morning.items %}
            <td>
              {% if meetings %}
                {% for meeting in meeting %}
                  <strong>{{ meeting.topic }}</strong><br>
                  {{ meeting.topic }}<br>
                {% endfor %}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Afternoon</td>
          {% for days, meetings in meetings_sorted.afternoon.items %}
            <td>
              {% if meetings %}
                {% for meeting in meetings %}
                  <strong>{{ meeting.topic}}</strong><br>
                  {{ meeting.time_range }}<br>
                {% endfor %}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Evening</td>
          {% for days, meetings in meetings_sorted.evening.items %}
            <td>
              {% if meetings %}
                {% for meeting in meetings %}
                  <strong>{{ meeting.topic }}</strong><br>
                  {{ meeting.time_range }}<br>
                {% endfor %}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</div>
