<table class="table table-bordered caption-top">
  <caption>Weekly Schedule: </caption>
  <thead>
    <tr>
      <th>Time of Day</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>Morning</td>
        {% for days, lessons in lessons_time_and_day.morning.items %}
        <td>
          {% if lessons %}
              {% for lesson in lessons %}
                  {{ lesson.knowledge_area }}
                   - {{ lesson. }}<br>
              {% endfor %}
          {% else %}
              No lessons
          {% endif %}
      </td>
    {% endfor %}
    </tr>
      <td>Afternoon</td>
      {% for days, lessons in lessons_time_and_day.afternoon.items %}
        <td>
          {% if lessons %}
              {% for lesson in lessons %}
                  <strong>{{ lesson.knowledge_area }}</strong> - {{ lesson.duration }}<br>
              {% endfor %}
          {% else %}
              No lessons
          {% endif %}
      </td>
    {% endfor %}
  </tr>
  <tr>
      <td>Evening</td>
      {% for days, lessons in lessons_time_and_day.evening.items %}
        <td>
          {% if lessons %}
              {% for lesson in lessons %}
                  <strong>{{ lesson.knowledge_area }}</strong> - {{ lesson.duration }}<br>
              {% endfor %}
          {% else %}
              No lessons
          {% endif %}
      </td>
    {% endfor %}
    </tr>
  </tbody>
</table>

